Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [5]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
my_series = pd.Series(data)

In [6]:
my_series

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [7]:
import pandas as pd

my_list = [10, 2, 30, 4, 50, 6, 70, 8, 9, 100]
my_series = pd.Series(my_list)
print(my_series)

0     10
1      2
2     30
3      4
4     50
5      6
6     70
7      8
8      9
9    100
dtype: int64

Q3. Here's how you can create a Pandas DataFrame with the given data and print it:

In [8]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

my_dataframe = pd.DataFrame(data)
print(my_dataframe)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q5. Some common functions used to manipulate data in a Pandas DataFrame are:

head(): Returns the first n rows of the DataFrame.
tail(): Returns the last n rows of the DataFrame.
describe(): Generates descriptive statistics for the DataFrame.
groupby(): Groups the DataFrame using one or more columns and applies a function to each group.
dropna(): Removes rows or columns with missing values from the DataFrame.
fillna(): Replaces missing values in the DataFrame with a specified value or method.

In [10]:
my_dataframe.describe()

             Age
count   3.000000
mean   27.333333
std     2.516611
min    25.000000
25%    26.000000
50%    27.000000
75%    28.500000
max    30.000000

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
Both Series and DataFrame are mutable in nature, meaning that their contents can be modified after they are created. However, Panel objects are considered deprecated and have been removed from the latest version of Pandas. MultiIndex can be used as an alternative to Panel objects.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [11]:
import pandas as pd

# Create three separate Pandas Series containing name, age, and gender data
names = pd.Series(['Alice', 'Bob', 'Claire'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Female'])

# Combine the three Series into a single DataFrame using a dictionary
df = pd.DataFrame({'Name': names, 'Age': ages, 'Gender': genders})

# Print the resulting DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female