In [18]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [19]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [20]:
print(df.iloc[1])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

loc is label-based indexing, which means that you can select rows and columns from a DataFrame based on their labels or index values.

iloc, on the other hand, is integer-based indexing, which means that you can select rows and columns from a DataFrame based on their integer index.

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

In [21]:
import pandas as pd

# assuming df is your original DataFrame
reindex = [3, 0, 1, 2]
new_df = df.reindex(index=reindex)
print(new_df)
print(new_df.loc[2])  #targets name 2
print(new_df.iloc[2]) #targets index 2

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
course_name    Big Data
duration              6
Name: 2, dtype: object
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [22]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [23]:
df1.mean()  #mean column wise

column_1    0.499405
column_2    0.547988
column_3    0.587432
column_4    0.537762
column_5    0.425934
column_6    0.577377
dtype: float64

In [24]:
df1.std() #standard deviation column wise

column_1    0.330287
column_2    0.182025
column_3    0.253573
column_4    0.323562
column_5    0.365955
column_6    0.318592
dtype: float64

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [25]:
df1.loc[1, 'column_2'] = 'pwskills'

In [26]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.179978  pwskills  0.579166  0.973830  0.343873  0.542208
2  0.730308  0.714736  0.543610  0.110514  0.742758  0.386980
3  0.652165  0.479338  0.941219  0.484496  0.986056  0.680404
4  0.304663  0.683028  0.773930  0.277747  0.221132  0.071584
5  0.964858   0.50642  0.485444  0.820324  0.002974  0.835968
6  0.164457  0.669958  0.201221  0.559662  0.258810  0.947116

In [ ]:
df1['column_2'].mean()

A TypeError when trying to compute the mean value. In this case, you need to convert the column data to a numeric data type before computing the mean value.

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?
In pandas, a window function is a way of performing calculations on a specified subset of rows (a "window") within a larger DataFrame. 
These calculations can be performed over moving windows (i.e. with the window sliding over the data), or over fixed windows of a specified size.
rolling().mean() for calculating moving averages, 
rolling().sum() for calculating moving sums, 
and rolling().std() for calculating moving standard deviations.

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [ ]:
import pandas as pd

# Get the current date and time
now = pd.datetime.now()

# Extract the month and year from the current date
month = now.month
year = now.year

# Print the current month and year
print(f"Current month: {month}")
print(f"Current year: {year}")

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [ ]:
import pandas as pd

# Prompt the user to enter the dates
date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")

# Convert the input strings to Pandas datetime objects
date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

# Calculate the time difference between the dates
time_diff = date2 - date1

# Extract the number of days, hours, and minutes from the time difference
days = time_diff.days
hours = time_diff.seconds // 3600
minutes = (time_diff.seconds // 60) % 60

# Display the result
print(f"The time difference between {date1.date()} and {date2.date()} is {days} days, {hours} hours, and {minutes} minutes.")

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [ ]:
import pandas as pd

# Prompt the user to enter the file path, column name, and category order
file_path = input("Enter the file path: ")
col_name = input("Enter the column name: ")
cat_order = input("Enter the category order (comma-separated): ").split(",")

# Read the CSV file into a Pandas dataframe
df = pd.read_csv(file_path)

# Convert the specified column to a categorical data type with the specified category order
df[col_name] = pd.Categorical(df[col_name], categories=cat_order, ordered=True)

# Sort the data by the specified column
df = df.sort_values(col_name)

# Display the sorted data
print(df)

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd

# Prompt the user to enter the file path
file_path = input("Enter the file path: ")

# Read the CSV file into a Pandas dataframe
df = pd.read_csv(file_path)

# Convert the 'Date' column to a datetime data type
df['Date'] = pd.to_datetime(df['Date'])

# Group the data by the 'Product Category' column and the 'Date' column, and calculate the sum of the 'Sales' column
grouped_data = df.groupby(['Product Category', 'Date']).agg({'Sales': 'sum'})

# Reshape the data to a pivot table with 'Product Category' as the rows, 'Date' as the columns, and 'Sales' as the values
pivot_table = grouped_data.pivot_table(values='Sales', index='Product Category', columns='Date')

# Visualize the data using a stacked bar chart
pivot_table.plot(kind='bar', stacked=True, figsize=(8, 6), rot=0)

# Set the title and axis labels
plt.title('Sales by Product Category')
plt.xlabel('Product Category')
plt.ylabel('Sales')

# Show the chart
plt.show()

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.
The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.
Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.
Example usage of the program:
Enter the file path of the CSV file containing the student data: student_data.csv
+-----------+--------+
| Statistic | Value |
+-----------+--------+
| Mean | 79.6 |
| Median | 82 |
| Mode | 85, 90 |
+-----------+--------+
Assume that the CSV file student_data.csv contains the following data:
Student ID,Test Score
1,85
2,90
3,80
4,75
5,85
6,82
7,78
8,85
9,90
10,85
The program should calculate the mean, median, and mode of the test scores and display the results
in a table.
Note: Create your assignment in Jupyter notebook and

In [ ]:
import pandas as pd

# Prompt the user to enter the file path of the CSV file
file_path = input("Enter the file path of the CSV file containing the student data: ")

# Read the CSV file into a Pandas DataFrame
df = pd.read_csv(file_path)

# Calculate the mean, median, and mode of the test scores
mean_score = df['Test Score'].mean()
median_score = df['Test Score'].median()
mode_score = df['Test Score'].mode().tolist()

# Display the results in a table
results_df = pd.DataFrame({'Statistic': ['Mean', 'Median', 'Mode'], 'Value': [mean_score, median_score, mode_score]})
print(results_df)